@import "../../App.scss";

.page-container {

  .profile-img {
    width: 256px;
    height: 256px;
    margin: 0 auto 40px auto;

    img {
      width: 105%;
      height: 130%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-info {
    width: 80%;
    margin: 0 auto;

    @include for-phone-only {
      width: 85%;
      padding-top: 40px; // Push content below image
    }

    @include for-tablet-only {
      width: 85%;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: $text-color;
      margin: 0;

      @include for-phone-only {
        font-size: 22px;
        text-align: center;
        line-height: 1.4;
      }
    }

    p {
      font-weight: 300;
      color: $text-color;
      font-size: 16px;
      line-height: 1.5;
      margin-top: 24px;

      @include for-phone-only {
        margin-top: 18px;
        font-size: 15px;
      }
    }
  }
}