@import "../../App.scss";
.header-container{
.upper-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 0.1px solid #d2d6dc4a;
    @include for-phone-only{
        display: none;
    }
    @include for-tablet-only{
        justify-content: flex-end;
        margin-top: 14px;
    }
    .image{
        width: 40px;
        height: 40px;
        margin-right: 40px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        @include for-tablet-only{
            display: none;
        }
    }
    .menu{
        a{
            color : #cfd8e3;
            text-decoration: none;
            font-size: 16px;
            background: transparent;
            padding: 8px 12px;
            margin-right: 16px;
            border-radius: 4px;
            transition: 0.4s ease all;
            @include for-tablet-only{
                padding: 8px 6px;
            }

            &:not(.active):hover{
                background: #cfd8e33c;
                color: #fff
            }
            
        }
        .active{
            background: #1a202e;
        }
    }
    .resume-btn{
        margin-left: auto;
        a{
            color : #fff;
            text-decoration: none;
            font-size: 16px;
            background: #cfd8e33c;
            padding: 8px 12px;
            border-radius: 4px;
            transition: 0.4s ease all;
            @include for-tablet-only{
                padding: 4px 7px;
            }
            
        }
    }
}
.title-text{
    h1{
        padding: 40px 0;
        color: #fff;
        @include for-phone-only{
            font-size: 20px;
            text-align: center;
        }
        @include for-tablet-only{
            text-align: center;
        }
    }
}
}