@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-tablet-only {
  @media (min-width: 600px) and (max-width: 768px) {
    @content;
  }
}

.app-container{
  position: relative;
  width: 100%;
  overflow: hidden;
  .top-bg{
    background: #27303f;
    width: 100%;
    height: 309px;
    position: absolute;
    z-index: -1;
    @include for-phone-only(){
      height: 200px;
    }
  }
  .container{
    width: 60%;
    margin: 0 auto;
    @include for-phone-only(){
      width: 85%;
    }
    @include for-tablet-only(){
      width: 85%;
    }
    
  }
  
}
.page-container{
  position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background: #fff;
    padding-top: 65px;
    padding-bottom: 85px;
    min-height: 550px;
    transition: 0.4s ease all;
    overflow: hidden;
    
    @include for-phone-only(){
      padding-top: 28px;
      padding-bottom: 50px;
      min-height: 495px;
    }
    
}
.page-icon{
  width: 64px;
  height: 64px;
  margin: 0 auto;
  color: #475569;
  svg{
    width: 100%;
    height: 100%;
  }
}

// page transition css

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}



.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

/* PhoneNavbar.css */
.phone-navbar-enter {
  transform: translateX(100%);
}

.phone-navbar-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease;
}

.phone-navbar-exit {
  transform: translateX(0);
}

.phone-navbar-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease;
}

$primary:#27303f;
$text-color:#475569;